@font-face {
  font-family: "Crimson Text";
  src: url("./fonts/CrimsonText-Regular.ttf");
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;

  font-family: "Crimson Text", "Times New Roman", serif;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding-bottom: 0.5rem;
}

h3 {
  color: #bbf7d0;
  font-size: 20px;
}

.sidebar {
  display: grid;
  grid-template-rows: 0.5fr 3fr 3fr;
  gap: 16px;

  padding: 1rem 2rem;
  background-color: #052e16;
}

.sidebar > h1 {
  color: #bbf7d0;
  font-size: 36px;
}

.player > p {
  color: #bbf7d0;
  font-weight: bold;
}

.player > .name {
  color: #a3e635;
  font-size: 18px;
  font-weight: bold;
}

.player.one {
  margin-bottom: 1rem;
}

.sidebar > button {
  justify-self: center;

  margin-top: 2rem;
  border: 0;
  height: 3rem;
  width: 9rem;
  border-radius: 8px;
  cursor: pointer;

  background-color: #86efac;
  color: #022c22;
  font-weight: bold;
  font-size: 20px;
  font-family: "Crimson Text", "Times New Roman", serif;
}

.main-content {
  background-image: url("./img/background.jpg");
  background-size: cover;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;

  color: #bbf7d0;
}

.header > h1 {
  font-size: 48px;
}

.counts > p {
  font-weight: bold;
  font-size: 24px;
  text-align: end;
}

.attack-section {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.attack-section > p {
  color: #bbf7d0;
  font-size: 24px;
  font-weight: bold;
}

.attack-section span {
  background-color: #bbf7d0;
  color: #1a2e05;
  padding: 0 1rem;
}

.attack-section > button {
  height: 2.5rem;
  width: 8rem;

  border: 0;
  border-radius: 8px;
  cursor: pointer;

  background-color: #b91c1c;
  color: #fef2f2;
  font-weight: bold;
  font-size: 20px;
  font-family: "Crimson Text", "Times New Roman", serif;
}
